body {
  height: 180px;
  background-color: rgb(231, 225, 225);
  color: rgb(247, 36, 36);
  display: grid;
  place-items: center;
  font-family: 'seger UI', Tahona, Genova, Verdana, sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
}
